<div class="row" style="margin-right: 4%; margin-left:7%;">
    <div class="col-5">
        <div class="user-box">
            <input type="date" name="birthday" required="" />
        </div>
     </div>
     <div class="col-4" style="margin-left: 7px;">
        <input class="form-control" list="labelDate" id="dateDataList" placeholder="Label" />
        <datalist id="labelDate">
          <option value="DOA"></option>
          <option value="Funding"></option>
          <option value="Birthday"></option>
          <option value="Marriage"></option>
          <option value="Death"></option>
          <option value="Graduation"></option>
          <option value="First Communion"></option>
        </datalist>
    </div>
</div>
