<div class="row user-box" style=" margin-right: 3%; margin-top: 3%">
    <div class="col-5">
        <input class="form-control" list="labelLanguage" id="languageDataList" placeholder="Preferred Language" />
        <datalist id="labelLanguage">
      <option value="English"></option>
      <option value="Spanish"></option>
      <option value="French"></option>
      <option value="Hindi"></option>
      <option value="Arabic "></option>
      <option value="Bengali "></option>
      <option value="Russian "></option>
      <option value="Portuguese "></option>
      <option value="Indonesian "></option>
      <option value="Japanese"></option>
      <option value="Marathi"></option>
      <option value="Mandarin Chinese"></option>
      <option value="Polish"></option>
      <option value="Italian"></option>
      <option value="Greek"></option>
      <option value="Saraiki"></option>
    </datalist>
    </div>

    <!-- <button href="./" class="btn btn-primary btn-sm">Add contact</button> -->
</div>