

<div class="row" style=" margin-right: 2%;">
  <div class="col-5" >
    <mat-select-country  style="display: block; padding:3%" autocomplete="off" label="Select Country" fxFlex.lg="1px">
    </mat-select-country>
  </div>
  <div class="col-4"  style="margin-left: 7px; margin-top:2%">
    <input class="form-control" list="labelOriginPlace" id="originPlaceDataList" placeholder="Label" />
    <datalist id="labelOriginPlace">
      <option value="Me"></option>
      <option value="Grandmother"></option>
      <option value="Grandfather"></option>
      <option value="Mother"></option>
      <option value="Father"></option>
      <option value="Son"></option>
      <option value="Daughter"></option>
      <option value="Wife"></option>
    </datalist>
</div>
</div>

