<div class="row" style="margin-left: 7%; margin-right: 0%;">
    <div class="col-7 user-box">
        <input type="text" name="" required="" />
        <label>Social Media</label>
    </div>
    <div class="col-4"  style="margin-left: 7px;">
        <input class="form-control" list="labelSocialMedia" id="socialMediaDataList" placeholder="Label" />
        <datalist id="labelSocialMedia">
          <option value="Facebook"></option>
          <option value="Instagram"></option>
          <option value="Linkedln"></option>
          <option value="Whatsapp"></option>
          <option value="Tik-Tok"></option>
          <option value="Telegram"></option>
          <option value="Tinder"></option>
        </datalist>
    </div>
</div>